/* line 5, ../../../usr/local/bundle/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

/* line 22, ../../../usr/local/bundle/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html { line-height: 1; }

/* line 24, ../../../usr/local/bundle/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul { list-style: none; }

/* line 26, ../../../usr/local/bundle/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 28, ../../../usr/local/bundle/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

/* line 30, ../../../usr/local/bundle/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote { quotes: none; }
/* line 103, ../../../usr/local/bundle/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

/* line 32, ../../../usr/local/bundle/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img { border: none; }

/* line 116, ../../../usr/local/bundle/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

/* line 22, ../../_scss/screen.scss */
html { font-size: 21px; line-height: 31.5px; }
@media (max-width: 35em) { /* line 22, ../../_scss/screen.scss */
  html { font-size: 18px; line-height: 27px; } }

/* line 70, ../../_scss/screen.scss */
html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; text-rendering: optimizeLegibility; }

/* line 77, ../../_scss/screen.scss */
/*
body { background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSI1JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjUiLz48c3RvcCBvZmZzZXQ9IjUlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 0, 0, 0.5)), color-stop(5%, rgba(0, 0, 0, 0))); background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%); background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%); background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%); -moz-background-size: 100% 1.5em; -o-background-size: 100% 1.5em; -webkit-background-size: 100% 1.5em; background-size: 100% 1.5em; background-position: left top; font-family: "Alegreya", "Georgia", serif; font-variant-ligatures: none common-ligatures discretionary-ligatures contextual; font-optical-sizing: auto; color: #222; background: #F6F4F0; padding-left: 1rem; padding-right: 1rem; }
*/
body { background-color: #222; color: #FFF; }
button { background-color: #FFF; color: #222; padding: 10px 20px; }
button:hover { cursor: pointer; }
/* line 89, ../../_scss/screen.scss */
pre, code { font-family: "Fira Code", "Consolas", "Courier", monospace; font-variant: none; }

/* line 94, ../../_scss/screen.scss */
code { font-size: 0.75rem; line-height: 2; background: #EEE; padding-left: 4px; padding-right: 4px; white-space: nowrap; border: 1px solid #CCC; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
@media (max-width: 35em) { /* line 94, ../../_scss/screen.scss */
  code { line-height: 2; } }

/* line 106, ../../_scss/screen.scss */
pre { background: #EEE; border: 1px solid #CCC; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; overflow: auto; padding: 0.5rem; margin-bottom: 1.5rem; }
@media (max-width: 35em) { /* line 106, ../../_scss/screen.scss */
  pre { margin-bottom: 1.5rem; } }
/* line 113, ../../_scss/screen.scss */
pre > code { border: 0; padding: 0; white-space: pre; line-height: 1; }

/* line 121, ../../_scss/screen.scss */
.page { max-width: 100%; margin-left: auto; margin-right: auto; width: 35em; }
/* line 12, ../../../usr/local/bundle/gems/susy-2.2.14/sass/susy/output/support/_clearfix.scss */
.page:after { content: " "; display: block; clear: both; }
/* line 125, ../../_scss/screen.scss */
.page > header { border-bottom: 3px double #CCC; overflow: hidden; margin-bottom: 1.5rem; }
/* line 126, ../../_scss/screen.scss */
.page > header h1 { font-style: italic; text-align: center; margin: 0; font-size: 1.25rem; line-height: 2.4; }
@media (max-width: 35em) { /* line 126, ../../_scss/screen.scss */
  .page > header h1 { line-height: 2.4; } }
/* line 131, ../../_scss/screen.scss */
.page > header h1 a { text-decoration: none; color: #444; text-shadow: none; background: none; }
/* line 136, ../../_scss/screen.scss */
.page > header h1 a:hover { color: #C00; }
@media (max-width: 35em) { /* line 125, ../../_scss/screen.scss */
  .page > header { margin-bottom: 1.5rem; } }
/* line 146, ../../_scss/screen.scss */
.page > footer { color: #444; font-style: italic; border-top: 3px double #CCC; overflow: hidden; }
/* line 150, ../../_scss/screen.scss */
.page > footer p { font-size: 0.875rem; line-height: 3.42857; margin-bottom: 0; text-align: center; }
@media (max-width: 35em) { /* line 150, ../../_scss/screen.scss */
  .page > footer p { line-height: 3.42857; } }
/* line 155, ../../_scss/screen.scss */
.page > footer a { text-decoration: none; color: #444; text-shadow: none; background: none; }
/* line 160, ../../_scss/screen.scss */
.page > footer a:hover { color: #C00; }

/* line 169, ../../_scss/screen.scss */
article > footer { font-size: 0.875rem; line-height: 3.42857; text-align: right; color: #444; }
@media (max-width: 35em) { /* line 169, ../../_scss/screen.scss */
  article > footer { line-height: 3.42857; } }

/* line 176, ../../_scss/screen.scss */
h1 .anchor, h2 .anchor, h3 .anchor, h4 .anchor, h5 .anchor, h6 .anchor { display: none; font-size: 1rem; line-height: 1.0005; font-style: none; font-weight: normal; }
@media (max-width: 35em) { /* line 176, ../../_scss/screen.scss */
  h1 .anchor, h2 .anchor, h3 .anchor, h4 .anchor, h5 .anchor, h6 .anchor { line-height: 1.0005; } }
/* line 183, ../../_scss/screen.scss */
h1:hover .anchor, h2:hover .anchor, h3:hover .anchor, h4:hover .anchor, h5:hover .anchor, h6:hover .anchor { display: inline; }
/* line 188, ../../_scss/screen.scss */
h1 .anchor:hover, h2 .anchor:hover, h3 .anchor:hover, h4 .anchor:hover, h5 .anchor:hover, h6 .anchor:hover { text-shadow: none; background: none; }

/* line 195, ../../_scss/screen.scss */
h1 { font-size: 1.5rem; line-height: 2; margin-bottom: 1.5rem; }
@media (max-width: 35em) { /* line 195, ../../_scss/screen.scss */
  h1 { line-height: 2; } }
@media (max-width: 35em) { /* line 195, ../../_scss/screen.scss */
  h1 { margin-bottom: 1.5rem; } }

/* line 200, ../../_scss/screen.scss */
h2 { font-size: 1.25rem; line-height: 1.2; margin-bottom: 1.5rem; font-weight: 700; }
@media (max-width: 35em) { /* line 200, ../../_scss/screen.scss */
  h2 { line-height: 1.2; } }
@media (max-width: 35em) { /* line 200, ../../_scss/screen.scss */
  h2 { margin-bottom: 1.5rem; } }

/* line 206, ../../_scss/screen.scss */
h3 { font-size: 1.125rem; line-height: 1.33333; margin-bottom: 1.5rem; font-weight: 700; font-style: italic; }
@media (max-width: 35em) { /* line 206, ../../_scss/screen.scss */
  h3 { line-height: 1.33333; } }
@media (max-width: 35em) { /* line 206, ../../_scss/screen.scss */
  h3 { margin-bottom: 1.5rem; } }

/* line 213, ../../_scss/screen.scss */
h4 { font-size: 1.07rem; line-height: 1.40187; margin-bottom: 1.5rem; font-weight: 700; font-family: "Alegreya SC", "Georgia", serif; font-variant: small-caps; font-feature-settings: 'smcp'; }
@media (max-width: 35em) { /* line 213, ../../_scss/screen.scss */
  h4 { line-height: 1.40187; } }
@media (max-width: 35em) { /* line 213, ../../_scss/screen.scss */
  h4 { margin-bottom: 1.5rem; } }

/* line 222, ../../_scss/screen.scss */
p, ul, ol, dl { margin-bottom: 1.5rem; }
@media (max-width: 35em) { /* line 222, ../../_scss/screen.scss */
  p, ul, ol, dl { margin-bottom: 1.5rem; } }

/* line 226, ../../_scss/screen.scss */
ul ul { margin-bottom: 0; }

/* line 230, ../../_scss/screen.scss */
ul { list-style-type: disc; }

/* line 234, ../../_scss/screen.scss */
ol { list-style: decimal; }

/* line 238, ../../_scss/screen.scss */
li, dd { margin-left: 2em; }

/* line 242, ../../_scss/screen.scss */
blockquote { border-left: 1px solid #CCC; padding-left: 1em; margin-left: 1em; margin-right: 2em; font-style: italic; }

/* line 250, ../../_scss/screen.scss */
i, em { font-style: italic; }

/* line 254, ../../_scss/screen.scss */
strong, b { font-weight: 700; }

/* line 258, ../../_scss/screen.scss */
img { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }

/* line 262, ../../_scss/screen.scss */
sup { vertical-align: super; font-size: 0.75rem; line-height: 2; }
@media (max-width: 35em) { /* line 262, ../../_scss/screen.scss */
  sup { line-height: 2; } }

/* line 267, ../../_scss/screen.scss */
abbr { border-bottom: dotted 1px #CCC; }

/* line 271, ../../_scss/screen.scss */
a { color: #C00; text-decoration: none; }
/* line 274, ../../_scss/screen.scss */
a:visited { color: #990000; text-decoration: none; text-shadow: 0.03em 0 #F6F4F0, -0.03em 0 #F6F4F0, 0 0.03em #F6F4F0, 0 -0.03em #F6F4F0, 0.06em 0 #F6F4F0, -0.06em 0 #F6F4F0, 0.09em 0 #F6F4F0, -0.09em 0 #F6F4F0, 0.12em 0 #F6F4F0, -0.12em 0 #F6F4F0, 0.15em 0 #F6F4F0, -0.15em 0 #F6F4F0; background-image: linear-gradient(#f6f4f0, #f6f4f0), linear-gradient(#f6f4f0, #f6f4f0), linear-gradient(#990000, #990000); background-size: .05em 1px, .05em 1px, 1px 1px; background-repeat: no-repeat, no-repeat, repeat-x; background-position: 0% 90%, 100% 90%, 0% 90%; }
/* line 278, ../../_scss/screen.scss */
a:focus { color: #ff3366; text-decoration: none; text-shadow: 0.03em 0 #F6F4F0, -0.03em 0 #F6F4F0, 0 0.03em #F6F4F0, 0 -0.03em #F6F4F0, 0.06em 0 #F6F4F0, -0.06em 0 #F6F4F0, 0.09em 0 #F6F4F0, -0.09em 0 #F6F4F0, 0.12em 0 #F6F4F0, -0.12em 0 #F6F4F0, 0.15em 0 #F6F4F0, -0.15em 0 #F6F4F0; background-image: linear-gradient(#f6f4f0, #f6f4f0), linear-gradient(#f6f4f0, #f6f4f0), linear-gradient(#ff3366, #ff3366); background-size: .05em 1px, .05em 1px, 1px 1px; background-repeat: no-repeat, no-repeat, repeat-x; background-position: 0% 90%, 100% 90%, 0% 90%; }
/* line 282, ../../_scss/screen.scss */
a:active { color: #ff3399; text-decoration: none; text-shadow: 0.03em 0 #F6F4F0, -0.03em 0 #F6F4F0, 0 0.03em #F6F4F0, 0 -0.03em #F6F4F0, 0.06em 0 #F6F4F0, -0.06em 0 #F6F4F0, 0.09em 0 #F6F4F0, -0.09em 0 #F6F4F0, 0.12em 0 #F6F4F0, -0.12em 0 #F6F4F0, 0.15em 0 #F6F4F0, -0.15em 0 #F6F4F0; background-image: linear-gradient(#f6f4f0, #f6f4f0), linear-gradient(#f6f4f0, #f6f4f0), linear-gradient(#ff3399, #ff3399); background-size: .05em 1px, .05em 1px, 1px 1px; background-repeat: no-repeat, no-repeat, repeat-x; background-position: 0% 90%, 100% 90%, 0% 90%; }
/* line 286, ../../_scss/screen.scss */
a:hover { color: #ff3333; text-decoration: none; text-shadow: 0.03em 0 #F6F4F0, -0.03em 0 #F6F4F0, 0 0.03em #F6F4F0, 0 -0.03em #F6F4F0, 0.06em 0 #F6F4F0, -0.06em 0 #F6F4F0, 0.09em 0 #F6F4F0, -0.09em 0 #F6F4F0, 0.12em 0 #F6F4F0, -0.12em 0 #F6F4F0, 0.15em 0 #F6F4F0, -0.15em 0 #F6F4F0; background-image: linear-gradient(#f6f4f0, #f6f4f0), linear-gradient(#f6f4f0, #f6f4f0), linear-gradient(#ff3333, #ff3333); background-size: .05em 1px, .05em 1px, 1px 1px; background-repeat: no-repeat, no-repeat, repeat-x; background-position: 0% 90%, 100% 90%, 0% 90%; }

/* line 293, ../../_scss/screen.scss */
#projects ul, #posts ul { list-style-type: none; }
/* line 296, ../../_scss/screen.scss */
#projects li, #posts li { overflow: hidden; *zoom: 1; margin-left: 0; }

/* line 303, ../../_scss/screen.scss */
#posts time, #projects time { font-size: 0.8125rem; line-height: 1.84615; color: #444; }
@media (max-width: 35em) { /* line 303, ../../_scss/screen.scss */
  #posts time, #projects time { line-height: 1.84615; } }

/* line 310, ../../_scss/screen.scss */
#posts time { float: right; margin-left: 0.5rem; }
@media (min-width: 35em) { /* line 310, ../../_scss/screen.scss */
  #posts time { float: none; margin: 0; }
  /* line 316, ../../_scss/screen.scss */
  #posts time:after { content: " \b7 "; } }

/* line 325, ../../_scss/screen.scss */
#projects time:before { content: " \b7 "; }

/* line 331, ../../_scss/screen.scss */
.footnotes { padding-top: 1.5rem; border-top: 1px solid #CCC; }

/* line 337, ../../_scss/screen.scss */
figure { overflow: hidden; *zoom: 1; margin-bottom: 1.5rem; }
@media (max-width: 35em) { /* line 337, ../../_scss/screen.scss */
  figure { margin-bottom: 1.5rem; } }
/* line 341, ../../_scss/screen.scss */
figure .grid-diagram { text-align: center; }
/* line 343, ../../_scss/screen.scss */
figure .grid-diagram svg { margin: 0 auto; }
@media (min-width: 35em) { /* line 343, ../../_scss/screen.scss */
  figure .grid-diagram svg { float: left; margin-right: 1.5em; } }
/* line 352, ../../_scss/screen.scss */
figure p { margin-bottom: 0; }

/* line 357, ../../_scss/screen.scss */
.interactive-container { text-align: center; margin-bottom: 1.5rem; }
@media (max-width: 35em) { /* line 357, ../../_scss/screen.scss */
  .interactive-container { margin-bottom: 1.5rem; } }
/* line 360, ../../_scss/screen.scss */
.interactive-container > div { width: 458px; margin: 0 auto; }
/* line 364, ../../_scss/screen.scss */
.interactive-container .interactive-controls { text-align: right; }

/* line 1, ../../_scss/_syntax.scss */
.hll { background-color: #ffffcc; }

/* line 2, ../../_scss/_syntax.scss */
.c { color: #60a0b0; font-style: italic; }

/* Comment */
/* line 3, ../../_scss/_syntax.scss */
.err { border: 1px solid #FF0000; }

/* Error */
/* line 4, ../../_scss/_syntax.scss */
.k { color: #007020; font-weight: bold; }

/* Keyword */
/* line 5, ../../_scss/_syntax.scss */
.o { color: #666666; }

/* Operator */
/* line 6, ../../_scss/_syntax.scss */
.ch { color: #60a0b0; font-style: italic; }

/* Comment.Hashbang */
/* line 7, ../../_scss/_syntax.scss */
.cm { color: #60a0b0; font-style: italic; }

/* Comment.Multiline */
/* line 8, ../../_scss/_syntax.scss */
.cp { color: #007020; }

/* Comment.Preproc */
/* line 9, ../../_scss/_syntax.scss */
.cpf { color: #60a0b0; font-style: italic; }

/* Comment.PreprocFile */
/* line 10, ../../_scss/_syntax.scss */
.c1 { color: #60a0b0; font-style: italic; }

/* Comment.Single */
/* line 11, ../../_scss/_syntax.scss */
.cs { color: #60a0b0; background-color: #fff0f0; }

/* Comment.Special */
/* line 12, ../../_scss/_syntax.scss */
.gd { color: #A00000; }

/* Generic.Deleted */
/* line 13, ../../_scss/_syntax.scss */
.ge { font-style: italic; }

/* Generic.Emph */
/* line 14, ../../_scss/_syntax.scss */
.gr { color: #FF0000; }

/* Generic.Error */
/* line 15, ../../_scss/_syntax.scss */
.gh { color: #000080; font-weight: bold; }

/* Generic.Heading */
/* line 16, ../../_scss/_syntax.scss */
.gi { color: #00A000; }

/* Generic.Inserted */
/* line 17, ../../_scss/_syntax.scss */
.go { color: #888888; }

/* Generic.Output */
/* line 18, ../../_scss/_syntax.scss */
.gp { color: #c65d09; font-weight: bold; }

/* Generic.Prompt */
/* line 19, ../../_scss/_syntax.scss */
.gs { font-weight: bold; }

/* Generic.Strong */
/* line 20, ../../_scss/_syntax.scss */
.gu { color: #800080; font-weight: bold; }

/* Generic.Subheading */
/* line 21, ../../_scss/_syntax.scss */
.gt { color: #0044DD; }

/* Generic.Traceback */
/* line 22, ../../_scss/_syntax.scss */
.kc { color: #007020; font-weight: bold; }

/* Keyword.Constant */
/* line 23, ../../_scss/_syntax.scss */
.kd { color: #007020; font-weight: bold; }

/* Keyword.Declaration */
/* line 24, ../../_scss/_syntax.scss */
.kn { color: #007020; font-weight: bold; }

/* Keyword.Namespace */
/* line 25, ../../_scss/_syntax.scss */
.kp { color: #007020; }

/* Keyword.Pseudo */
/* line 26, ../../_scss/_syntax.scss */
.kr { color: #007020; font-weight: bold; }

/* Keyword.Reserved */
/* line 27, ../../_scss/_syntax.scss */
.kt { color: #902000; }

/* Keyword.Type */
/* line 28, ../../_scss/_syntax.scss */
.m { color: #40a070; }

/* Literal.Number */
/* line 29, ../../_scss/_syntax.scss */
.s { color: #4070a0; }

/* Literal.String */
/* line 30, ../../_scss/_syntax.scss */
.na { color: #4070a0; }

/* Name.Attribute */
/* line 31, ../../_scss/_syntax.scss */
.nb { color: #007020; }

/* Name.Builtin */
/* line 32, ../../_scss/_syntax.scss */
.nc { color: #0e84b5; font-weight: bold; }

/* Name.Class */
/* line 33, ../../_scss/_syntax.scss */
.no { color: #60add5; }

/* Name.Constant */
/* line 34, ../../_scss/_syntax.scss */
.nd { color: #555555; font-weight: bold; }

/* Name.Decorator */
/* line 35, ../../_scss/_syntax.scss */
.ni { color: #d55537; font-weight: bold; }

/* Name.Entity */
/* line 36, ../../_scss/_syntax.scss */
.ne { color: #007020; }

/* Name.Exception */
/* line 37, ../../_scss/_syntax.scss */
.nf { color: #06287e; }

/* Name.Function */
/* line 38, ../../_scss/_syntax.scss */
.nl { color: #002070; font-weight: bold; }

/* Name.Label */
/* line 39, ../../_scss/_syntax.scss */
.nn { color: #0e84b5; font-weight: bold; }

/* Name.Namespace */
/* line 40, ../../_scss/_syntax.scss */
.nt { color: #062873; font-weight: bold; }

/* Name.Tag */
/* line 41, ../../_scss/_syntax.scss */
.nv { color: #bb60d5; }

/* Name.Variable */
/* line 42, ../../_scss/_syntax.scss */
.ow { color: #007020; font-weight: bold; }

/* Operator.Word */
/* line 43, ../../_scss/_syntax.scss */
.w { color: #bbbbbb; }

/* Text.Whitespace */
/* line 44, ../../_scss/_syntax.scss */
.mb { color: #40a070; }

/* Literal.Number.Bin */
/* line 45, ../../_scss/_syntax.scss */
.mf { color: #40a070; }

/* Literal.Number.Float */
/* line 46, ../../_scss/_syntax.scss */
.mh { color: #40a070; }

/* Literal.Number.Hex */
/* line 47, ../../_scss/_syntax.scss */
.mi { color: #40a070; }

/* Literal.Number.Integer */
/* line 48, ../../_scss/_syntax.scss */
.mo { color: #40a070; }

/* Literal.Number.Oct */
/* line 49, ../../_scss/_syntax.scss */
.sa { color: #4070a0; }

/* Literal.String.Affix */
/* line 50, ../../_scss/_syntax.scss */
.sb { color: #4070a0; }

/* Literal.String.Backtick */
/* line 51, ../../_scss/_syntax.scss */
.sc { color: #4070a0; }

/* Literal.String.Char */
/* line 52, ../../_scss/_syntax.scss */
.dl { color: #4070a0; }

/* Literal.String.Delimiter */
/* line 53, ../../_scss/_syntax.scss */
.sd { color: #4070a0; font-style: italic; }

/* Literal.String.Doc */
/* line 54, ../../_scss/_syntax.scss */
.s2 { color: #4070a0; }

/* Literal.String.Double */
/* line 55, ../../_scss/_syntax.scss */
.se { color: #4070a0; font-weight: bold; }

/* Literal.String.Escape */
/* line 56, ../../_scss/_syntax.scss */
.sh { color: #4070a0; }

/* Literal.String.Heredoc */
/* line 57, ../../_scss/_syntax.scss */
.si { color: #70a0d0; font-style: italic; }

/* Literal.String.Interpol */
/* line 58, ../../_scss/_syntax.scss */
.sx { color: #c65d09; }

/* Literal.String.Other */
/* line 59, ../../_scss/_syntax.scss */
.sr { color: #235388; }

/* Literal.String.Regex */
/* line 60, ../../_scss/_syntax.scss */
.s1 { color: #4070a0; }

/* Literal.String.Single */
/* line 61, ../../_scss/_syntax.scss */
.ss { color: #517918; }

/* Literal.String.Symbol */
/* line 62, ../../_scss/_syntax.scss */
.bp { color: #007020; }

/* Name.Builtin.Pseudo */
/* line 63, ../../_scss/_syntax.scss */
.fm { color: #06287e; }

/* Name.Function.Magic */
/* line 64, ../../_scss/_syntax.scss */
.vc { color: #bb60d5; }

/* Name.Variable.Class */
/* line 65, ../../_scss/_syntax.scss */
.vg { color: #bb60d5; }

/* Name.Variable.Global */
/* line 66, ../../_scss/_syntax.scss */
.vi { color: #bb60d5; }

/* Name.Variable.Instance */
/* line 67, ../../_scss/_syntax.scss */
.vm { color: #bb60d5; }

/* Name.Variable.Magic */
/* line 68, ../../_scss/_syntax.scss */
.il { color: #40a070; }

/* Literal.Number.Integer.Long */